<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681897592516-q05r4f5s8l3vta6v041goorrg3250835.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681897592516-q05r4f5s8l3vta6v041goorrg3250835</string>
	<key>API_KEY</key>
	<string>AIzaSyCuZWX44m6ds0H87wAS_pTM3kKSqwuYUDw</string>
	<key>GCM_SENDER_ID</key>
	<string>681897592516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oscarvictoria.Pursuit-Core-iOS-Firebase-Project</string>
	<key>PROJECT_ID</key>
	<string>pursuit-firebase-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pursuit-firebase-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681897592516:ios:f8e5cb960b177a621c6b91</string>
	<key>DATABASE_URL</key>
	<string>https://pursuit-firebase-project.firebaseio.com</string>
</dict>
</plist>